Node Red Flow/flows.json
[{"id":"17a182d6.0e8d2d","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"3303dda.d543622","type":"ui_form","z":"17a182d6.0e8d2d","name":"","label":"","group":"b9cd7e48.b8228","order":1,"width":"20","height":"10","options":[{"label":"Enter your query","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":120,"y":280,"wires":[["8c3fe3ab.7490b"]]},{"id":"8c3fe3ab.7490b","type":"function","z":"17a182d6.0e8d2d","name":"input","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":200,"wires":[["dbc6cd3e.e7e0e","9ad6df46.6861e"]]},{"id":"dbc6cd3e.e7e0e","type":"watson-conversation-v1","z":"17a182d6.0e8d2d","name":"my assisstant","workspaceid":"c4ea1690-f427-4748-bad8-25b7407784b4","multiuser":false,"context":false,"empty-payload":false,"service-endpoint":"","timeout":"","optout-learning":false,"x":420,"y":140,"wires":[["8fd82633.a6ef48","4fef6834.952568"]]},{"id":"bb02fd48.0665d","type":"inject","z":"17a182d6.0e8d2d","name":"","topic":"","payload":"Hello","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":120,"wires":[["dbc6cd3e.e7e0e"]]},{"id":"8fd82633.a6ef48","type":"function","z":"17a182d6.0e8d2d","name":"output","func":"msg.payload.text=\"\";\nif(msg.payload.context.webhook_result_1){\n    for(var i in msg.payload.context.webhook_result_1.results){\n        msg.payload.text=msg.payload.text+\"\\n\"+msg.payload.context.webhook_result_1.results[i].text;\n    }\n    msg.payload=msg.payload.text;\n}\nelse\nmsg.payload=msg.payload.output.text[0];\nreturn msg;\n","outputs":1,"noerr":0,"x":570,"y":220,"wires":[["62ddfa68.a395b4","bdc0c895.c79588"]]},{"id":"9ad6df46.6861e","type":"ui_text","z":"17a182d6.0e8d2d","group":"b9cd7e48.b8228","order":1,"width":"20","height":"3","name":"","label":"You","format":"{{msg.payload}}","layout":"col-center","x":380,"y":300,"wires":[]},{"id":"62ddfa68.a395b4","type":"ui_text","z":"17a182d6.0e8d2d","group":"d701e3b2.2d909","order":0,"width":"20","height":"5","name":"","label":"Bot","format":"{{msg.payload}}","layout":"col-center","x":740,"y":320,"wires":[]},{"id":"bdc0c895.c79588","type":"debug","z":"17a182d6.0e8d2d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":140,"wires":[]},{"id":"4fef6834.952568","type":"debug","z":"17a182d6.0e8d2d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":600,"y":80,"wires":[]},{"id":"b9cd7e48.b8228","type":"ui_group","z":"","name":"Console","tab":"43ed081b.a34da8","order":1,"disp":true,"width":"20","collapse":false},{"id":"d701e3b2.2d909","type":"ui_group","z":"","name":"Bot's Reply ","tab":"43ed081b.a34da8","order":2,"disp":true,"width":"20","collapse":false},{"id":"43ed081b.a34da8","type":"ui_tab","z":"","name":"Mr. Helpbot","icon":"dashboard","order":3,"disabled":false,"hidden":false}]